body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;

    --color-pale-blue: hsl(225, 100%, 94%);
    --color-bright-blue: hsl(245, 75%, 52%);
    --color-very-pale-blue: hsl(225, 100%, 98%);
    --color-desaturated-blue: hsl(224, 23%, 55%);
    --color-dark-blue: hsl(223, 47%, 23%);

    background-color: var(--color-pale-blue);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: max(360px, 21%);
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card > img {
    border-radius: 18px 18px 0 0;
}

.container {
    max-width: max(300px, 80%);
    margin: auto;
    padding: 0 24px;
}

.container > h3 {
    color: var(--color-dark-blue);
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    font-weight: 900;
    margin-top: 32px;
    margin-bottom: 0;
}

.container > p {
    color: var(--color-desaturated-blue);
    margin: 20px;
    line-height: 1.6;
}

.plan-section {
    display: flex;
    padding: 16px;
    background-color: var(--color-very-pale-blue);
    border-radius: 12px;
    margin-bottom: 24px;
}

.plan-section > img {
    padding-right: 24px;
}

.plan-section > * {
    margin: auto 0;
}

.plan-section > a {
    color: var(--color-bright-blue);
    font-weight: 700;
    font-size: 0.95rem;
    transition: color 0.2s;
}

.plan-section > a:hover {
    color: hsl(244.51deg 82.61% 68.43%);
    text-decoration: none;
}

.plan-info {
    color: var(--color-desaturated-blue);
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.plan-info > h4 {
    color: var(--color-dark-blue);
    margin: 0;
}

.button-1 {
    display: block;
    background-color: var(--color-bright-blue);
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 14px 50px -12px var(--color-bright-blue);
    transition: color 0.2s, background-color 0.2s;

}

.button-1:hover {
    background-color: hsl(244.51deg 82.61% 68.43%);
}

.button-2 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    color: var(--color-desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    padding: 16px;
    border-radius: 12px;
    transition: color 0.2s;
}

.button-2:hover {
    color: var(--color-dark-blue);
}

